@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  scroll-behavior: smooth;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
